
a{
    text-decoration: none;
    color: black; 
}

embed{max-width: 100%;
}

img{
    width: 960px;
    display: block;    
    display: block;
    margin: 0 auto;
}

li{
    font-family: 'Courier New', Courier, monospace;
    font-size: 15px;
}

.lista li :hover{
    color: blue;  
}

.lista li{
    padding-top: 10px;
    font-size: 20px;
}

h2{
text-transform:uppercase;
text-decoration:underline ;
}